/*css file for City of Calgary Datasets.html*/

*{
    box-sizing: border-box;
}

body{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-family: 'PT Sans', sans-serif;
    background-color:burlywood;
    padding-left: 2px;
    padding-right: 8px;
}


h1{
    text-align: center;
    font-family: 'Shantell Sans', cursive;
}



